html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 테두리와 패딩 계산 방식 통일 */
    width: 100%;
    height: 100%;
}
.main-container-services{
    display: flex;
    flex-direction: column;
}
.services-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    color: #444444;
    background-color: #f5f6f8;
}
.services-top-p{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 62px;
    padding: 0 12px 60px;
}
.services-title{
    font-family: "Jost", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 20px;
    padding-bottom: 20px;
    color: #37517E;
}
.services-title::after{
    content: "";
    position: absolute;
    display: block;
    width: 160px;
    height: 1px;
    background: color-mix(in srgb, #444444, transparent 60%);
    left: 0;
    right: 0;
    bottom: 101px;
    margin: auto;
}
.services-title::before{
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background: #47b2e4;
    left: 0;
    right: 0;
    bottom: 100px;
    margin: auto;
}
.services-explain{
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
    margin: 0;
    font-size: 16px;
}
.services-list{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.services-item{
    width: 246px;
    height: 275px;
    background-color: #ffffff;
    padding: 0 30px;
    transition: transform 0.5s ease;
}
.services-item:hover {
    transform: translateY(-10px);
}
.services-item-in{
    padding: 50px 30px;
}
.services-icon{
    margin-top: 30px;
    margin-bottom: 10px;
}
.services-icon-title{
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 20px;
    color: #37517e;
    font-family: "Jost", sans-serif;
}
.services-item:hover .services-icon-title{
    color: #47b2e4; 
}
.services-icon-explain{
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    font-size: 14px;
}
.services-bottom{
    height: 345.59px;
}