:root{
    --background-color: #ffffff;
    --default-color: #444444;
    --heading-color: #37517e;
    --accent-color: #47b2e4;
    --surface-color: #ffffff;
    --contrast-color: #ffffff;
}
*{
    box-sizing: border-box;
}
@media (max-width: 1199px) {
    section, .section {
        scroll-margin-top: 66px;
    }
}
section{
    max-width: 100%;
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 60px 0;
    scroll-margin-top: 88px;
    overflow: clip;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
h1, h2, h3, h4, h5 {
    color: var(--heading-color);
    font-family: var(--heading-font);
    text-align: center;

}
.section-title{
    margin: 0 26.5px;
    padding: 0 12px 60px;
}
.section-title h2:before {
    content: "";
    position: absolute;
    display: block;
    width: 160px;
    height: 1px;
    background: color-mix(in srgb, var(--default-color), transparent 60%);
    left: 0;
    right: 0;
    bottom: 1px;
    margin: auto;
}
.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}
.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background: var(--accent-color);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.testimonials .testimonial-item {
    text-align: center;
}
.swiper {
    margin-left: 97px;
    margin-right: 97px;
 
}
.testimonials .testimonial-item .testimonial-img {
    width: 120px;
    border-radius: 50%;
    border: 4px solid var(--background-color);
    margin: 0 auto;
    vertical-align: middle;
}
.testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
}
.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    margin: 0 0 15px 0;
}
.stars{
    padding: 0 0 15px;
}
.star-icon {
    font-size: 16px; 
    position: relative;
    color: #ffc107; 
    margin: 0 1px;
}

.star-icon::before {
    content: "\f586"; 
    font-size: inherit; 
    color: inherit; 
}

.testimonials .testimonial-item p {
    font-style: italic; 
    margin: 0 auto 15px auto;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.quote{
    font-size: 26px;
    position: relative;
    color: color-mix(in srgb, var(--accent-color), transparent 50%);
}
.quote::before{
    content: "\f6b0";
    font-size: inherit; 
    color: inherit; 
}
.testimonials .testimonial-item .quote-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
    transform: scale(-1, -1);
}
.swiper-pagination {
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0 0;
}
.swiper-circle{
    width: 12px;
    height: 12px;
    opacity: 1;
    border-radius: 50%;
    background-color: color-mix(in srgb, var(--default-color), transparent 85%);
    margin: 0 4px;
}
